.transformBtn, .settingsBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 0.5s ease;
    &:hover {
        transform: rotate(240deg);
    }
}
.settingsBtn{
    right: 80px;
}
