.top-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    .left {
        height: 100%;
        display: flex;
        align-items: center;
        .anticon-question-circle {
            cursor: pointer;
            font-size: 25px;
            transition: 0.3s;
            &:hover {
                transform: rotate(180deg);
            }
        }
    }
    .right {
        height: 100%;
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 20px;
        input {
            width: 150px;
            border-radius: 5px;
        }
        .welcome {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .ant-avatar {
        cursor: pointer;
    }
}
.indent {
    text-indent: 2em;
}
a {
    cursor: pointer;
}
.react-switch {
    margin: 20px;
}
