.top-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-left: 15px;

    .welcome {
        float: right;
        padding-right: 20px;
    }
}

.react-switch {
    margin: 20px;
}
