#detail {
    margin: 40px 100px;
    .tags{
        margin-bottom: 10px;
    }
}
.no-detail {
    text-align: center;
    padding: 30px;
}
.tag-input{
    width: 80px;
}
embed {
    width: 100%;
    min-height: 100vh;
}
#upload-form{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
